

/*select {
   
   background: #FFFFFF;
   padding: 0.5em;
   color:#fff
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
} */


/*.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #fff;
}